<a href="https://colab.research.google.com/github/SaanviDhakane29/SKILL-PYTHON-/blob/main/BML_LCA3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TITLE- USING BANK MARKETING DATASET WE DETERMINE ITS ACCURACY BY USING DECISION TREE CLASSIFIER

We first merge drive and colab so that our downloaded dataset in csv form can be seen here and we can copy its path and load it!!!

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

We read the dataset using pandas library and display its first 5 rows

In [2]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/bank.csv')
print(df.head())

   age         job  marital  education default  balance housing loan  contact  \
0   59      admin.  married  secondary      no     2343     yes   no  unknown
1   56      admin.  married  secondary      no       45      no   no  unknown
2   41  technician  married  secondary      no     1270     yes   no  unknown
3   55    services  married  secondary      no     2476     yes   no  unknown
4   54      admin.  married   tertiary      no      184      no   no  unknown

   day month  duration  campaign  pdays  previous poutcome deposit
0    5   may      1042         1     -1         0  unknown     yes
1    5   may      1467         1     -1         0  unknown     yes
2    5   may      1389         1     -1         0  unknown     yes
3    5   may       579         1     -1         0  unknown     yes
4    5   may       673         2     -1         0  unknown     yes

Then , we check if there are any null values in the dataset and display the number of null values.HERE, there are none

In [3]:
print(df.isnull().sum())

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

We also check if there are any duplicates and display but HERE there are none again...

In [6]:
print(df.duplicated().sum())

0

Now , we use label encoder to encode all the categorical entites into numerical format .We selected "education" category.

In [10]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df["education"] = label_encoder.fit_transform(df["education"])
print(df.head())

   age         job  marital  education default  balance housing loan  contact  \
0   59      admin.  married          1      no     2343     yes   no  unknown
1   56      admin.  married          1      no       45      no   no  unknown
2   41  technician  married          1      no     1270     yes   no  unknown
3   55    services  married          1      no     2476     yes   no  unknown
4   54      admin.  married          2      no      184      no   no  unknown

   day month  duration  campaign  pdays  previous poutcome deposit  \
0    5   may      1042         1     -1         0  unknown     yes
1    5   may      1467         1     -1         0  unknown     yes
2    5   may      1389         1     -1         0  unknown     yes
3    5   may       579         1     -1         0  unknown     yes
4    5   may       673         2     -1         0  unknown     yes

   education_lbl
0              1
1              1
2              1
3              1
4              2

Now that all the loading and preprocessing is done . we turn to the main part that is the decison tree classfier.

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report


X = df.drop(columns=["deposit"]).select_dtypes(include=["number"])
y = df["deposit"].map({"yes": 1, "no": 0})


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)


classifier = DecisionTreeClassifier(random_state=42)
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)
print("Accuracy Score:\n", accuracy_score(y_test, y_pred))
print("Accuracy percentage :\n", accuracy_score(y_test, y_pred)*100)
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy Score:
 0.7169726824899239
Accuracy percentage :
 71.69726824899239
Classification Report:
               precision    recall  f1-score   support

           0       0.73      0.72      0.73      1175
           1       0.70      0.71      0.70      1058

    accuracy                           0.72      2233
   macro avg       0.72      0.72      0.72      2233
weighted avg       0.72      0.72      0.72      2233