<a href="https://colab.research.google.com/github/SaanviDhakane29/SKILL-PYTHON-/blob/main/BMLexp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,MinMaxScaler, StandardScaler, RobustScaler
df=pd.read_csv('/content/drive/MyDrive/passengerlist.csv')
print(df.head())

   PassengerId  Country        Firstname  Lastname Sex  Age Category  Survived
0            1   Sweden      ARVID KALLE     AADLI   M   62        P         0
1            2  Estonia              LEA   AALISTE   F   22        C         0
2            3  Estonia             AIRI   AAVASTE   F   21        C         0
3            4   Sweden             JURI     AAVIK   M   53        C         0
4            5   Sweden  BRITTA ELISABET  AHLSTROM   F   55        P         0

In [3]:
df.isnull().sum()

PassengerId    0
Country        0
Firstname      0
Lastname       0
Sex            0
Age            0
Category       0
Survived       0
dtype: int64

In [4]:
df.duplicated().sum()

np.int64(0)

In [8]:
label_encoder=LabelEncoder()
df['Sex']=label_encoder.fit_transform(df['Sex'])
print(df.head())

   PassengerId  Country        Firstname  Lastname  Sex  Age Category  \
0            1   Sweden      ARVID KALLE     AADLI    1   62        P
1            2  Estonia              LEA   AALISTE    0   22        C
2            3  Estonia             AIRI   AAVASTE    0   21        C
3            4   Sweden             JURI     AAVIK    1   53        C
4            5   Sweden  BRITTA ELISABET  AHLSTROM    0   55        P

   Survived
0         0
1         0
2         0
3         0
4         0

In [16]:
one_hot_encoded=pd.get_dummies(df['Country'])
df=df.drop('Country',axis=1)
df=df.join(one_hot_encoded)
print(df.head())

   PassengerId        Firstname  Lastname Sex  Age Category  Survived  \
0            1      ARVID KALLE     AADLI   M   62        P         0
1            2              LEA   AALISTE   F   22        C         0
2            3             AIRI   AAVASTE   F   21        C         0
3            4             JURI     AAVIK   M   53        C         0
4            5  BRITTA ELISABET  AHLSTROM   F   55        P         0

   Belarus  Canada  Denmark  ...  Germany  Great Britain  Latvia  Lithuania  \
0    False   False    False  ...    False          False   False      False
1    False   False    False  ...    False          False   False      False
2    False   False    False  ...    False          False   False      False
3    False   False    False  ...    False          False   False      False
4    False   False    False  ...    False          False   False      False

   Morocco  Netherlands  Nigeria  Norway  Russia  Sweden
0    False        False    False   False   False    True
1    False        False    False   False   False   False
2    False        False    False   False   False   False
3    False        False    False   False   False    True
4    False        False    False   False   False    True

[5 rows x 23 columns]