<a href="https://colab.research.google.com/github/SaanviDhakane29/SKILL-PYTHON-/blob/main/BMLexp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
##extracting dataset using python
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/passengerlist.csv')
print(df)

     PassengerId  Country             Firstname  Lastname Sex  Age Category  \
0              1   Sweden           ARVID KALLE     AADLI   M   62        P
1              2  Estonia                   LEA   AALISTE   F   22        C
2              3  Estonia                  AIRI   AAVASTE   F   21        C
3              4   Sweden                  JURI     AAVIK   M   53        C
4              5   Sweden       BRITTA ELISABET  AHLSTROM   F   55        P
..           ...      ...                   ...       ...  ..  ...      ...
984          985   Sweden  ANNA INGRID BIRGITTA    OSTROM   F   60        P
985          986   Sweden          ELMAR MIKAEL       OUN   M   34        P
986          987   Sweden                   ENN   QUNAPUU   M   77        P
987          988   Sweden                    LY   GUNAPUU   F   87        P
988          989   Sweden                  CARL    OVBERG   M   42        P

     Survived
0           0
1           0
2           0
3           0
4           0
..        ...
984         0
985         1
986         0
987         0
988         1

[989 rows x 8 columns]

In [5]:
print(df.head())

   PassengerId  Country        Firstname  Lastname Sex  Age Category  Survived
0            1   Sweden      ARVID KALLE     AADLI   M   62        P         0
1            2  Estonia              LEA   AALISTE   F   22        C         0
2            3  Estonia             AIRI   AAVASTE   F   21        C         0
3            4   Sweden             JURI     AAVIK   M   53        C         0
4            5   Sweden  BRITTA ELISABET  AHLSTROM   F   55        P         0

In [6]:
df.describe()

       PassengerId         Age    Survived
count   989.000000  989.000000  989.000000
mean    494.992922   44.575329    0.138524
std     285.643660   17.235146    0.345624
min       1.000000    0.000000    0.000000
25%     248.000000   30.000000    0.000000
50%     495.000000   44.000000    0.000000
75%     742.000000   59.000000    0.000000
max     989.000000   87.000000    1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 989 entries, 0 to 988
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  989 non-null    int64
 1   Country      989 non-null    object
 2   Firstname    989 non-null    object
 3   Lastname     989 non-null    object
 4   Sex          989 non-null    object
 5   Age          989 non-null    int64
 6   Category     989 non-null    object
 7   Survived     989 non-null    int64
dtypes: int64(3), object(5)
memory usage: 61.9+ KB