<a href="https://colab.research.google.com/github/SaanviDhakane29/SKILL-PYTHON-/blob/main/skillexp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##loading and merging two datasets

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
data1=pd.read_csv('/content/drive/MyDrive/tested.csv')
data2=pd.read_csv('/content/drive/MyDrive/passengerlist.csv')
print(data1)
print(data2)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]
     PassengerId  Country             Firstname  Lastname Sex  Age Category  \
0              1   Sweden           ARVID KALLE     AADLI   M   62        P
1              2  Estonia                   LEA   AALISTE   F   22        C
2              3  Estonia                  AIRI   AAVASTE   F   21        C
3              4   Sweden                  JURI     AAVIK   M   53        C
4              5   Sweden       BRITTA ELISABET  AHLSTROM   F   55        P
..           ...      ...                   ...       ...  ..  ...      ...
984          985   Sweden  ANNA INGRID BIRGITTA    OSTROM   F   60        P
985          986   Sweden          ELMAR MIKAEL       OUN   M   34        P
986          987   Sweden                   ENN   QUNAPUU   M   77        P
987          988   Sweden                    LY   GUNAPUU   F   87        P
988          989   Sweden                  CARL    OVBERG   M   42        P

     Survived
0           0
1           0
2           0
3           0
4           0
..        ...
984         0
985         1
986         0
987         0
988         1

[989 rows x 8 columns]

In [ ]:
print(data1.head())
print(data2.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S
   PassengerId  Country        Firstname  Lastname Sex  Age Category  Survived
0            1   Sweden      ARVID KALLE     AADLI   M   62        P         0
1            2  Estonia              LEA   AALISTE   F   22        C         0
2            3  Estonia             AIRI   AAVASTE   F   21        C         0
3            4   Sweden             JURI     AAVIK   M   53        C         0
4            5   Sweden  BRITTA ELISABET  AHLSTROM   F   55        P         0

In [ ]:
merged_data=pd.merge(data1,data2,on='PassengerId',how='inner')
print(merged_data.head())

   PassengerId  Survived_x  Pclass  \
0          892           0       3
1          893           1       3
2          894           0       2
3          895           0       3
4          896           1       3

                                           Name   Sex_x  Age_x  SibSp  Parch  \
0                              Kelly, Mr. James    male   34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female   47.0      1      0
2                     Myles, Mr. Thomas Francis    male   62.0      0      0
3                              Wirz, Mr. Albert    male   27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female   22.0      1      1

    Ticket     Fare Cabin Embarked  Country Firstname  Lastname Sex_y  Age_y  \
0   330911   7.8292   NaN        Q  Estonia      ANTI    TSIREL     M     22
1   363272   7.0000   NaN        S  Estonia       EPP  TUDELEPP     F     21
2   240276   9.6875   NaN        Q  Estonia      ARVO    TULVIK     M     42
3   315154   8.6625   NaN        S   Sweden     MIHAI   TURDEAN     M     43
4  3101298  12.2875   NaN        S  Estonia     TARMO      TURN     M     28

  Category  Survived_y
0        P           0
1        C           0
2        C           0
3        C           1
4        P           0