<a href="https://colab.research.google.com/github/SaanviDhakane29/SKILL-PYTHON-/blob/main/skillexp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
##data preprocessing
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df=pd.read_csv('/content/drive/MyDrive/tested.csv')
print(df.head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0          892         0       3  ...   7.8292   NaN         Q
1          893         1       3  ...   7.0000   NaN         S
2          894         0       2  ...   9.6875   NaN         Q
3          895         0       3  ...   8.6625   NaN         S
4          896         1       3  ...  12.2875   NaN         S

[5 rows x 12 columns]

In [7]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [11]:
encoder=LabelEncoder()
df['Cabin']=encoder.fit_transform(df['Cabin'])
print(df.head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0          892         0       3  ...   7.8292    76         Q
1          893         1       3  ...   7.0000    76         S
2          894         0       2  ...   9.6875    76         Q
3          895         0       3  ...   8.6625    76         S
4          896         1       3  ...  12.2875    76         S

[5 rows x 12 columns]

In [15]:
print(df.dropna().head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0          892         0       3  ...   7.8292    76         Q
1          893         1       3  ...   7.0000    76         S
2          894         0       2  ...   9.6875    76         Q
3          895         0       3  ...   8.6625    76         S
4          896         1       3  ...  12.2875    76         S

[5 rows x 12 columns]

In [17]:
print(df.duplicated().sum())

0