<a href="https://colab.research.google.com/github/SaanviDhakane29/SKILL-PYTHON-/blob/main/skillexp2edited.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##data preprocessing
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
df=pd.read_csv('/content/drive/MyDrive/tested.csv')
print(df.head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0          892         0       3  ...   7.8292   NaN         Q
1          893         1       3  ...   7.0000   NaN         S
2          894         0       2  ...   9.6875   NaN         Q
3          895         0       3  ...   8.6625   NaN         S
4          896         1       3  ...  12.2875   NaN         S

[5 rows x 12 columns]

In [ ]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

label encoding is used to convert categorical values into numeric values which makes analysis a lot easier

In [ ]:
encoder=LabelEncoder()
df['Cabin']=encoder.fit_transform(df['Cabin'])
print(df.head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0          892         0       3  ...   7.8292    76         Q
1          893         1       3  ...   7.0000    76         S
2          894         0       2  ...   9.6875    76         Q
3          895         0       3  ...   8.6625    76         S
4          896         1       3  ...  12.2875    76         S

[5 rows x 12 columns]

In [13]:
one_hot_encoded=pd.get_dummies(df['Embarked'])
df=df.drop('Embarked',axis=1)
df=df.join(one_hot_encoded)
print(df.head())

       C      Q      S
0   True  False  False
1  False  False   True
2  False  False   True
3  False   True  False
4   True  False  False

In [ ]:
print(df.dropna().head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0          892         0       3  ...   7.8292    76         Q
1          893         1       3  ...   7.0000    76         S
2          894         0       2  ...   9.6875    76         Q
3          895         0       3  ...   8.6625    76         S
4          896         1       3  ...  12.2875    76         S

[5 rows x 12 columns]

In [ ]:
print(df.duplicated().sum())

0